.heroSection {
  background-image: linear-gradient(rgba(30, 64, 175, 0.8), rgba(59, 130, 246, 0.7)), url('../../images/bg3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
